#modal{
    position:fixed;background-color:rgba(0,0,0,0.5);width:100%;top:0px;
    height:100%;z-index:9999;display:none;
}
.modal_fg{
    margin:0 auto; margin-top:8%;text-align: center;padding:1%;
    width:40%;height:62%;
    background-color:white;color:black
}
@media(max-width:1199.5px){
    #modal{
    position:fixed;background-color:rgba(0,0,0,0.5);width:100%;top:0px;
    height:100%;z-index:9999;display:none;
    }
    .modal_fg{
        margin:0 auto; margin-top:8%;text-align: center;padding:1%;
        width:70%;height:85%;
        background-color:white;color:black
    }
}

.close-pop:hover{
    color:red;
}